<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="cs" connectionString="k6IvIJYYfEpvTmJR0I7vF7cDtcSV27e88JyCklWQklnBykctdeOoxqdIjFccKinbMzTLb/PlY5mgoeLa1JbIjullxmaxU6bs6QmSlC4kdX8="/>
  </connectionStrings>
</configuration>