<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="cs" connectionString="Server=tcp:pppk-cabraja-server.database.windows.net,1433;Initial Catalog=People;Persist Security Info=False;User ID=lcabraja;Password=surgery_issuant1KAMPALA;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
	</connectionStrings>
</configuration>